absl-py==2.1.0
accelerate==0.33.0
action-tutorials-py==0.9.4
actionlib==1.14.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alabaster==0.7.8
altair==5.2.0
ament-copyright==0.9.8
ament-cppcheck==0.9.8
ament-cpplint==0.9.8
ament-flake8==0.9.8
ament-index-python==1.1.0
ament-lint==0.9.8
ament-lint-cmake==0.9.8
ament-package==0.9.5
ament-pep257==0.9.8
ament-uncrustify==0.9.8
ament-xmllint==0.9.8
angles==1.9.13
annotated-types==0.6.0
antlr4-python3-runtime==4.8
anyio==4.3.0
apturl==0.5.2
argcomplete==1.8.1
asteval==0.9.29
astunparse==1.6.3
async-timeout==4.0.3
atomicwrites==1.1.5
attrs==24.2.0
auto-gptq==0.8.0.dev0+cu118
autobahn==17.10.1
Automat==0.8.0
av==10.0.0
Babel==2.6.0
baldor==0.1.3
bcrypt==3.1.7
beautifulsoup4==4.8.2
bitsandbytes==0.42.0
black==23.9.1
blinker==1.4
blis==0.9.1
bondpy==1.8.6
breezy==3.0.2
Brlapi==0.7.0
build==0.10.0
CacheControl==0.12.11
cachetools==5.3.0
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
catkin-tools==0.9.2
cbor==1.0.0
certifi==2024.8.30
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.3.2
cleo==2.0.1
click==8.1.7
clip==1.0
-e git+https://github.com/cliport/cliport.git@47bf8298f6b664365ab042eb7ac0bcaf5df60254#egg=cliport
cloudpickle==1.6.0
cmake==3.26.3
colorama==0.4.3
coloredlogs==15.0.1
command-not-found==0.3
configobj==5.0.6
configparser==5.3.0
constantly==15.1.0
controller-manager==0.20.0
controller-manager-msgs==0.20.0
coverage==4.5.2
crashtest==0.4.1
criutils==0.1.4
cryptography==2.8
ctransformers==0.2.27
cupshelpers==1.0
cv-bridge==1.16.2
cycler==0.10.0
Cython==0.29.14
datasets==2.21.0
dbus-python==1.2.16
decorator==4.4.2
deep-phonemizer==0.0.19
defer==1.0.6
defusedxml==0.6.0
demo-nodes-py==0.9.4
Deprecated==1.2.7
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
dill==0.3.8
distlib==0.3.6
distro==1.4.0
distro-info==0.23+ubuntu1.1
dm-tree==0.1.8
docker-pycreds==0.4.0
docutils==0.16
domain-coordinator==0.9.2
dulwich==0.21.3
duplicity==0.8.12.0
dynamic-reconfigure==1.7.3
einops==0.8.0
empy==3.3.2
entrypoints==0.3
evaluate==0.4.2
examples-rclpy-executors==0.9.4
examples-rclpy-minimal-action-client==0.9.4
examples-rclpy-minimal-action-server==0.9.4
examples-rclpy-minimal-client==0.9.4
examples-rclpy-minimal-publisher==0.9.4
examples-rclpy-minimal-service==0.9.4
examples-rclpy-minimal-subscriber==0.9.4
exceptiongroup==1.2.0
fastapi==0.110.0
fasteners==0.14.1
fastimport==0.9.8
ffmpy==0.3.2
filelock==3.15.4
flake8==3.7.9
flash-attn==2.6.3
flatbuffers==24.3.25
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.1.1
future==0.18.2
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gdown==3.13.1
gekko==1.2.1
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.17.3
google-auth-oauthlib==1.0.0
gpg==1.13.1
gradio==4.22.0
gradio-client==0.13.0
greenlet==0.4.15
grpcio==1.54.0
gym==0.21.0
h11==0.14.0
h5py==3.8.0
handeye==0.1.2
html5lib==1.0.1
httpcore==1.0.4
httplib2==0.14.0
httpx==0.27.0
huggingface-hub==0.24.6
humanfriendly==10.0
hydra-core==1.0.5
hyperlink==19.0.0
idna==3.8
ifcfg==0.18
image-geometry==1.16.2
imageio==2.9.0
imageio-ffmpeg==0.4.5
imagesize==1.2.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
incremental==16.10.1
installer==0.7.0
interactive-markers==1.12.0
jaraco.classes==3.2.3
jeepney==0.8.0
jinja2==3.1.4
joblib==1.2.0
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
jsonschema==4.17.3
keyring==23.13.1
kiwisolver==1.0.1
kornia==0.4.1
language-selector==0.1
lark-parser==0.8.1
laser-geometry==1.6.7
launch==0.10.10
launch-ros==0.11.7
launch-testing==0.10.10
launch-testing-ros==0.11.7
launch-xml==0.10.10
launch-yaml==0.10.10
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lit==16.0.2
lmfit==1.2.1
-e git+https://gitlab.tuni.fi/parikkao/lmpvc_backup.git@be4f097f059d350099a16623603dfb73ac61e37c#egg=lmpvc_codegen&subdirectory=build/lmpvc_codegen
-e git+https://gitlab.tuni.fi/parikkao/lmpvc_backup.git@be4f097f059d350099a16623603dfb73ac61e37c#egg=lmpvc_controller&subdirectory=build/lmpvc_controller
-e git+https://gitlab.tuni.fi/parikkao/lmpvc_backup.git@be4f097f059d350099a16623603dfb73ac61e37c#egg=lmpvc_core&subdirectory=build/lmpvc_core
-e git+https://gitlab.tuni.fi/parikkao/lmpvc_backup.git@be4f097f059d350099a16623603dfb73ac61e37c#egg=lmpvc_detector&subdirectory=build/lmpvc_detector
-e git+https://gitlab.tuni.fi/parikkao/lmpvc_backup.git@be4f097f059d350099a16623603dfb73ac61e37c#egg=lmpvc_listener&subdirectory=build/lmpvc_listener
lockfile==0.12.2
louis==3.12.0
lxml==4.5.0
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.1.2
mccabe==0.6.1
mdurl==0.1.2
meshcat==0.0.18
message-filters==1.16.0
mock==3.0.5
monotonic==1.5
more-itertools==4.2.0
moveit-commander==1.1.13
moveit-core==1.1.13
moveit-ros-planning-interface==1.1.13
mpi4py==3.0.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
netifaces==0.10.4
networkx==3.1
nltk==3.8.1
nose==1.3.7
numdifftools==0.9.41
numpy==1.21.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.6.1.4
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.6.68
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
oauthlib==3.1.0
olefile==0.46
omegaconf==2.0.6
onnx==1.16.2
onnxruntime==1.14.1
onnxruntime-gpu==1.16.3
opencv-python==4.1.2.30
optimum==1.21.4
orjson==3.9.15
osrf-pycommon==0.1.11
packaging==24.1
pandas==2.0.3
paramiko==2.6.0
pathspec==0.11.2
pathtools==0.1.2
pbr==5.11.1
peft==0.12.0
pexpect==4.8.0
pillow==10.2.0
Pint==0.21.1
pkginfo==1.9.6
pkgutil-resolve-name==1.3.10
platformdirs==3.5.0
pluggy==0.13.0
poetry==1.4.2
poetry-core==1.5.2
poetry-plugin-export==1.3.1
promise==2.3
protobuf==3.20.0
psutil==5.5.1
ptyprocess==0.7.0
py==1.8.1
py-cpuinfo==9.0.0
py-ubjson==0.14.0
pyarrow==17.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyassimp==4.1.4
PyAudio==0.2.14
pybullet==3.0.4
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.6.1
pycups==1.9.73
pydantic==2.6.4
pydantic-core==2.16.3
pydocstyle==2.1.1
pydot==1.4.1
pydub==0.25.1
pyflakes==2.1.1
PyGithub==1.43.7
pyglet==1.5.0
pygments==2.17.2
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pynvim==0.4.1
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pypng==0.0.20
pyproject-hooks==1.0.0
PyQRCode==1.2.1
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.19.3
PySocks==1.7.1
pytest==4.6.9
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
python-gitlab==2.0.1
python-gnupg==0.4.5
python-multipart==0.0.9
python-qt-binding==0.4.4
python-snappy==0.5.3
pytorch-lightning==1.0.3
PyTrie==0.2
pyttsx3==2.90
pytz==2024.1
PyWavelets==1.4.1
pyxdg==0.26
PyYAML==6.0.2
pyzmq==25.0.2
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
quality-of-service-demo-py==0.9.4
rapidfuzz==2.15.1
regex==2024.7.24
reportlab==3.5.34
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
requests-unixsocket==0.2.0
resource-retriever==1.12.7
rich==13.7.1
robotframework==6.0.2
roman==2.0.0
ros2action==0.9.13
ros2bag==0.3.11
ros2cli==0.9.13
ros2component==0.9.13
ros2doctor==0.9.13
ros2interface==0.9.13
ros2launch==0.11.7
ros2lifecycle==0.9.13
ros2multicast==0.9.13
ros2node==0.9.13
ros2param==0.9.13
ros2pkg==0.9.13
ros2run==0.9.13
ros2service==0.9.13
ros2topic==0.9.13
rosbag==1.16.0
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosdep==0.22.2
rosdep-modules==0.22.2
rosdistro==0.9.0
rosdistro-modules==0.9.0
rosgraph==1.16.0
rosidl-runtime-py==0.9.1
rosinstall==0.7.8
rosinstall-generator==0.1.23
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospkg==1.5.0
rospkg-modules==1.5.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rouge==1.0.1
rpyutils==0.2.0
rqt-action==1.0.2
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==1.1.2
rqt-dep==0.4.12
rqt-graph==1.1.3
rqt-gui==1.1.2
rqt-gui-py==1.1.2
rqt-image-view==0.4.17
rqt-launch==0.4.9
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-msg==1.1.1
rqt-nav-view==0.5.7
rqt-plot==1.1.1
rqt-pose-view==0.5.11
rqt-publisher==1.3.0
rqt-py-common==0.5.3
rqt-py-console==1.0.2
rqt-reconfigure==1.0.8
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-tf-tree==0.6.4
rqt-top==1.0.2
rqt-topic==1.3.0
rqt-web==0.4.10
rsa==4.9
ruff==0.3.4
rviz==1.14.20
safetensors==0.4.4
satlas==0.1.1
scikit-image==0.17.2
scikit-learn==1.2.2
scipy==1.4.1
screen-resolution-extra==0.0.0
SecretStorage==3.3.3
semantic-version==2.10.0
sensor-msgs==1.13.1
sentence-transformers==2.2.2
sentencepiece==0.2.0
sentry-sdk==1.21.1
service-identity==18.1.0
shellingham==1.5.0.post1
shortuuid==1.0.11
simplejson==3.16.0
sip==4.19.21
six==1.16.0
smach==2.5.2
smach-ros==2.5.2
smclib==1.8.6
smmap==5.0.0
sniffio==1.3.1
snowballstemmer==2.0.0
sounddevice==0.4.6
soupsieve==1.9.5
Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
srdfdom==0.6.4
sros2==0.9.5
srt==3.5.3
starlette==0.36.3
stevedore==5.1.0
subprocess32==3.5.4
sympy==1.13.2
systemd-python==234
tdqm==0.0.1
teleop-twist-keyboard==2.3.2
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
threadpoolctl==3.1.0
tifffile==2023.4.12
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
topic-monitor==0.9.4
topic-tools==1.16.0
torch==2.4.0+cu118
torchaudio==2.4.0+cu118
torchvision==0.19.0+cu118
tornado==6.3.1
tqdm==4.66.5
transformers==4.43.4
transforms3d==0.4.1
triton==3.0.0
trove-classifiers==2023.4.29
Twisted==18.9.0
txaio==2.10.0
typer==0.10.0
typing-extensions==4.12.2
tzdata==2024.1
u-msgpack-python==2.7.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
uncertainties==3.1.7
urdfdom-py==0.4.6
urllib3==2.2.2
usb-creator==0.3.7
uvicorn==0.29.0
vcstools==0.1.42
-e git+https://github.com/vimalabs/VimaBench@97e0af11e126fd477c9d81eeabfb6c739021c680#egg=vima_bench
virtualenv==20.23.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
vosk==0.3.45
wadllib==1.3.3
wandb==0.10.15
watchdog==0.10.4
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0
werkzeug==3.0.3
word2number==1.1
wrapt==1.11.2
wsaccel==0.6.2
wstool==0.1.18
xacro==1.14.18
xkit==0.0.0
xxhash==3.5.0
yarl==1.9.8
zipp==3.15.0
zope.interface==4.7.1
